<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/LandingPage.css" />

    <link rel="stylesheet" href="/stylesheets/swipper.css" />

    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/backside.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/newsbar.css" />
    <link rel="stylesheet" href="/stylesheets/universal.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="stylesheet" href="/stylesheets/responsive/index.css" />
    <title>YourChoice</title>
  </head>
  <body class="flexCenter">
    <i class="on-off fa-solid fa-toggle-off"></i>
    <%- include('component/Profile')%>
    <div class="container">
      <%- include('component/Navbar')%>
      <div class="Landing-Screen">
        <div class="Backside-card-body">
          <div class="Backside-card">
            <div class="Backside-card-Left cursor">
              <h5 id="pagelocation">YOUR CHOICE</h5>
            </div>
            <div class="Backside-card-Mid cursor">
              <h1>YOUR CHOICE</h1>
            </div>
            <div class="Backside-card-Right">
              <div class="nextproduct">
                <h4 class="cursor">Next Product</h4>
                <div class="arrow">
                  <i id="fa-arrow-left-long" class="cursor fa-solid fa-arrow-left-long"></i>
                  <i id="fa-arrow-right-long" class="cursor fa-solid fa-arrow-right-long"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-body">
          <a class="scroll-to-down">
            <div class="scroll-body cursor">
              <i class="fa-solid fa-arrow-left-long"></i>
              <h5>Scroll To Down</h5>
            </div>
          </a>
          <div class="card-body">
            <div class="card">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <%random.map(product=>{%>
                  <div class="swiper-slide swiper-slide1">
                    <div class="product-desc">
                      <a class="icon cursor" href="/user/like/<%=product._id%>">
                        <i class="fa-solid fa-heart"></i>
                      </a>
                      <h1><%=product.title%></h1>
                      <h5><%=product.desc%></h5>

                      <p><%=product.category%></p>
                      <div class="price">
                        <h2>PRICE :</h2>
                        <h2>
                          <i class="fa-solid fa-indian-rupee-sign"></i>
                          <%=product.price%>
                        </h2>
                      </div>
                      <a href="/product/singleproduct?id=<%=product._id%>">
                        <button class="cursor">
                          VIEW <i class="fa-solid fa-expand"></i>
                        </button>
                      </a>
                    </div>
                    <div class="product-img cursor">
                      <img src="../images/uploads/<%=product.img[0]%>" alt="" />
                    </div>
                  </div>
                  <%})%>
                </div>
              </div>
              <div id="swiper-button-next" class="swiper-button-next cursor">
              </div>
              <div id="swiper-button-prev" class="swiper-button-prev cursor">
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="social-button-body">
            <div class="social-button cursor">
              <h5>follow</h5>
              <a href="">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="CATEGORY">
        <h1>CATEGORY</h1>
        <div class="cat-container">
          <div class="cat-container-box-1 swiper mySwiper2">
            <div class="swiper-wrapper">
              <%Men.map(picture=>{%>

              <a
                class="swiper-slide swiper-slide2"
                href="/product?category=Men"
              >
                <div class="cat-info">
                  <h1>MENS</h1>
                  <button>Shop</button>
                </div>
                <img src="../images/uploads/<%=picture.img[0]%>" />
              </a>
              <%})%>
            </div>
          </div>
          <div class="cat-container-box-1 swiper mySwiper2">
            <div class="swiper-wrapper">
              <%Women.map(picture=>{%>
              <a
                class="swiper-slide swiper-slide2"
                href="/product?category=Women"
              >
                <div class="cat-info">
                  <h1>WOMENS</h1>
                  <button>Shop</button>
                </div>
                <img src="../images/uploads/<%=picture.img[0]%>" />
              </a>
              <%})%>
            </div>
          </div>
          <div class="cat-container-box-1 swiper mySwiper2">
            <div class="swiper-wrapper">
              <%Accessories.map(picture=>{%>
              <a
                class="swiper-slide swiper-slide2"
                href="/product?category=Accessories"
              >
                <div class="cat-info">
                  <h1>Accessories</h1>
                  <button>Shop</button>
                </div>
                <img src="../images/uploads/<%=picture.img[0]%>" />
              </a>
              <%})%>
            </div>
          </div>
        </div>
      </div>
      <div class="Top-Product">
        <h1>NEW PRODUCTS</h1>

        <div class="swiper mySwiper3">
          <div class="swiper-wrapper">
            <%newProduct.map(product=>{%>
            <div class="swiper-slide swiper-slide3 product-card">
              <div class="nav">
                <a class="icon" href="/user/like/<%=product._id%>">
                  <i class="fa-solid fa-heart"></i>
                </a>
                <div class="icon">
                  <i class="fa-solid nav-ic fa-bag-shopping"></i>
                </div>
              </div>
              <div class="product">
                <div
                  class="product-background"
                  style="
                    background: rgb(
                      <%=Math.round(250 * Math.random()) %>,
                      <%=Math.round(250 * Math.random()) %>,
                      <%=Math.round(250 * Math.random()) %>
                    );
                  "
                >
                  <div class="product-background-circle"></div>
                </div>
                <div class="product-image">
                  <img src="../images/uploads/<%=product.PngImg%>" alt="" />
                </div>
              </div>
              <div class="product-info">
                <h3><%=product.title%></h3>
                <h4>
                  <i class="fa-solid fa-indian-rupee-sign"></i
                  ><%=product.price%>
                </h4>
                <a href="/product/singleproduct?id=<%=product._id%>"
                  ><button>view <i class="fa-solid fa-expand"></i></button
                ></a>
              </div>
            </div>
            <%})%>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <%- include('component/newslatter')%> <%- include('component/Footer')%>
    </div>
    <!-- Initialize Swiper -->
    <script></script>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
    integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/javascripts/fontawesome.js"></script>
  <script src="/javascripts/swipper.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
