<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/javascripts/fontawesome.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
      integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="/stylesheets/order.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/backside.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/newsbar.css" />
    <link rel="stylesheet" href="/stylesheets/universal.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />

    <title>YourChoice</title>
  </head>
  <body>
    <i class="on-off fa-solid fa-toggle-off"></i>
    <%- include('component/Profile')%>
    <div class="container">
      <%- include('component/Navbar')%>
      <div class="Landing-Screen">
        <div class="Backside-card-body">
          <div class="Backside-card">
            <div class="Backside-card-Left cursor">
              <h5 id="pagelocation">YOUR CHOICE</h5>
            </div>
            <div class="Backside-card-Mid cursor">
              <h1>CHECKOUT PAGE</h1>
            </div>
            <div class="Backside-card-Right">
              <div class="nextproduct"></div>
            </div>
          </div>
        </div>
        <div class="main-body">
          <div class="card-body">
            <div class="card">
              <div class="checkout-product-cont">
                <h2>PRODUCTS</h2>
                <div class="checkout-product-box">
                  <%user.orders.forEach((order)=>{%>
                      <a href="/user/order/<%=order._id%>" class="checkout-product" id="">
                    <img src="../images/uploads/<%=order.ProductImg%>" alt="" />
                    <h2><%=order.ProductName%></h2>
                    <div class="product-colors">
                      <h2>color:</h2>
                      <div class="color" style="background: <%=order.ProductColor%>"></div>
                    </div>
                    <div class="product-size">
                      <h2>SIZE:</h2>
                      <div class="size"><%=order.ProductSize%></div>
                    </div>

                    <div class="product-price">
                      <i class="fa-solid fa-indian-rupee-sign"></i>
                      <h2><%=order.ProductTotal%></h2>
                    </div>
                    <div class="delivery-status">
                      <h3>Status :</h3>
                      <div class="status-cont">
                        <%Object.keys(order.OrderStatus).forEach((key)=>{%>
                        <%if(order.OrderStatus[key]){%>
                            <h4><%=key%></h4>
                        <%}%>
                        
                      <%})%></div>
                    </div>
                  </a>
                  <%})%>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('component/newslatter')%> <%- include('component/Footer')%>
    </div>

  </body>
</html>
